body, html {
    height: 100%;
  }


.hero{
    height:100vh;
    background-image: url("/images/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav-links{
margin: 0 5em;
}
nav a:hover{
 color:rgba(235, 35, 35, 0.781);
}
.user-view img{
/* min-height: 30vh; */
max-width:100%;
/* display: block; */
height:auto;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99999999;
}
.nav-links{
    font-size:1.2em !important;
}
.sidenav{
    z-index: 99999999 !important;
}
.social-media-sidenav{
    /* background-color: #212121; */
    width:100%;
    height:auto;
    
}
.box{
    min-height: 20vh;
}


.container1{

   width:95%;
}
.over-hero-img{
    height:80%;
}
.form{
    margin: 0 15%;
}

.input-field label{
    color: rgb(255, 255, 255);
  }
input {
    color: rgb(255, 255, 255);  
}  
.invisible{
    display:none;

}

.section-popular{
    min-height:100vh;
}

footer{
    min-height: 30vh;;
}
.social_media{
    text-align: center;
    color:white;
}
.social_media span{
    margin:10px;
}
.section-follow .fa-2x{
margin:5px 10px;
}
footer i:hover{
    color:rgba(22, 110, 211, 0.822)
}
/* Responsiveness of web page */
@media only screen and (max-width: 670px){
    .box {
        min-height:0;
    }
    .hero{
        height:120vh;
    }
    footer h4{
        font-size: 2.0rem;
    }
    }



    /* team page */
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
      }